<div class ="form">
 <form>
    <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputId">⏬ID⏬</label>
          <input type="id" class="form-control" id="inputId" placeholder="">
        </div>
        <div class="form-group col-md-12">
          <label for="inputNome">⏬NOME DO JOGO⏬</label>
          <input type="email" class="form-control" id="inputNome" placeholder="">
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputTipo">⏬TIPO⏬</label>
          <input type="text" class="form-control" id="inputTipo" placeholder="">
        </div>
        
        <div class="form-group col-md-12">
          <label for="inputEmpresa">⏬EMPRESA DESENVOLVEDORA⏬
          </label>
          <input type="text" class="form-control" id="inputEmpresa">
        </div>
      </div>
      <BR>

      <button type="button" class="btn btn-primary"(click)="exibir()">EXIBIR</button>
      <button type="submit" class="btn btn-primary"(click)="cadastrar()">CADASTRAR</button>
      <button type="submit" class="btn btn-primary"(click)="atualizar()">ATUALIZAR</button>
      <button type="submit" class="btn btn-primary"(click)="deletar()">APAGAR</button>
  </form>