<div class ="form">
 <form>
    <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputEmail4">⏬ID⏬</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="">
        </div>
        <div class="form-group col-md-12">
          <label for="inputPassword4">⏬NOME DO JOGO⏬</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="">
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputCity">⏬TIPO⏬</label>
          <input type="text" class="form-control" id="inputCity" placeholder="">
        </div>
        
        <div class="form-group col-md-12">
          <label for="inputZip">⏬EMPRESA DESENVOLVEDORA⏬
          </label>
          <input type="text" class="form-control" id="inputZip">
        </div>
      </div>
      <BR>

      <button type="button" class="btn btn-primary"onclick="alert('Você clicou em EXIBIR')">EXIBIR</button>
      <button type="submit" class="btn btn-primary"onclick="alert('Você clicou em CADASTRO')">CADASTRAR</button>
      <button type="submit" class="btn btn-primary"onclick="alert('Você clicou em ATUALIZAR')">ATUALIZAR</button>
      <button type="submit" class="btn btn-primary"onclick="alert('Você clicou em APAGAR')">APAGAR</button>
    </form>