
<div class="contatos">
    <h1>Veja nossos contatos ou envie uma mensagem para nos</h1>
    <br>
    <h2>-WhatsApp (00)1111111-
    <br>
   -Facebook @Loja de games senai-
   <br>
   -instagram @Loja_de_games_senai-
   <br>
   -E-mail @Loja de games senai-</h2>
   <br>
   <br>
   <h1>⏬ Entre em contato conosco ⏬</h1>

</div>

<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">NOME</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="NOME EX:(ISAAC)">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">FONE</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="(11)1111-1111">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">-E-mail</label>
        <input type="text" class="form-control" id="inputCity" placeholder="ex:(aaaaa@gmail.com)">
      </div>
      
      <div class="form-group col-md-6">
        <label for="inputZip">OPNIÃO
        </label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          CONCORDO EM ENVIAR MEUS DADOS
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">ENVIAR</button>
  </form>